html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ——————————————————————以上是清空浏览器默认样式——————↑———————————————————— */

/* main{
	position:fixed;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	min-width: 1000px;
	z-index:-10;
	zoom: 1;
	background: linear-gradient(to right top,#b1f5e8,#6cdbeb);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-position: center 0;
} */


/* ——————————————————————————7张网页——————start————————————————————————— */

.items{
	position: fixed;
	height: 100vh;
	width: 100vw;
}
#ym1{
	position: fixed;
	height: 100vh;
	width: 100vw;
	background:rgb(200, 230, 250);
}
#ym2{
	position: fixed;
	height: 100vh;
	width: 100vw;
	background:#cbd2dc;
}
#ym3{
	position: fixed;
	height: 100vh;
	width: 100vw;
	background:#cbdcdb;
}
#ym4{
	position: fixed;
	height: 100vh;
	width: 100vw;
	background:#cfdccb;
}
#ym5{
	position: fixed;
	height: 100vh;
	width: 100vw;
	background:#dcd3cb;
}
#ym6{
	position: fixed;
	height: 100vh;
	width: 100vw;
	background:#dccbcb;
}
#ym7{
	position: fixed;
	height: 100vh;
	width: 100vw;
	background:#d1cbdc;
}
.item{
/* 透明度（未显示时） */
opacity: 0;
/* 透明度？转换时间 */
transition: all 1s;
}
.ym-active{
    opacity: 1;/*透明度 （这是显示的时候）*/
    z-index: 10;
}


/* ——————————————————————————7张网页——————end————————————————————————— */

/* ————————————————————————右边的小圆点样式——————start———————————— */
.pointlist{
    position: fixed;
    right: 2.7%!important;
	/* 居中 */
	top: 50%;
	transform: translate3d(0,-50%,0);

    width: 14px;
	margin-top: 14px;
	z-index: 100;
}
.point{
	display: block;
    position: relative;
    margin-bottom: 24px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    opacity: 1;
    background: #797979;
	box-shadow:  7px 7px 14px #727272,
            	 -7px -7px 14px #ffffff;
	z-index: 100;
    /* 加个 小手指   */
    cursor: pointer;
}
/* hover凹下去 */
.point:hover{
	background: linear-gradient(145deg, #cccccc, #f3f3f3);
}
/* active按下去 */
.point-active{
	background: linear-gradient(145deg, #cccccc, #f3f3f3);
	box-shadow:  5px 5px 10px #cccccc,
	             -5px -5px 10px #fafafa;
}
/* 来根虚线 */
.pointlist:after {
    position: absolute;
    top: 6px;
    display: block;
    left: 0;
    width: 6px;
	/* 右边框 1px 虚线 颜色 */
    border-right: 1px dashed #8c7576; 
	/* 给个content才能显示出来边框 */
    content: '';
    height: 230px;/* 虚线长度 */
}

/* ————————————————————————右边的小圆点样式——————end———————————— */

/* ————————————————————————左上的信息栏resume——————start———————— */
/* 盒子大小 定位 */
.myresume-wrapper{
	margin-top: 4vh;
	margin-left: 3vh;
	position: fixed;
	height:70px ;
	width: 300px;
	z-index: 100;
	border-radius: 14px;
	background: #dccbcb;
	box-shadow:  7px 7px 14px #6e6666,
				-7px -7px 14px #ffffff;
}
/* hover凹下去 */
.myresume-wrapper:hover{
	background: linear-gradient(145deg, #cccccc, #f3f3f3);
}
.myresume-img{
	margin-top: 6px;
	margin-left: 20px;
	height: 58px;
	width: 58px;
    /* 变成圆的头像 */
	border-radius: 29px;
	overflow: hidden;
	
	opacity: 1;
}
.myresume-p{
	position:absolute;
	top: 7px;
	left: 85px;
}
/* linger's resume的样式 */
.myresume-linger{
	margin-top: 13px;
	font-family: "Comic Sans MS";
	font-size: 27px;
	font-weight: 600;
	/* 不换行 */
	white-space:nowrap;

	color: #9077d4;
	text-shadow:  1.5px 1.5px 3px #483c6a,
				 -1.5px -1.5px 3px #d8b3ff;

}

/* ————————————————————————左上的信息栏resume——————end———————— */

/* ————————————————————————左下的导航栏nav——————start———————— */
.navbar{
	position: fixed;
	left: 4vw;
	bottom: 4vh;
	padding: 20px;
	border-radius: 50px;
	/* 用flex竖着倒过来解决按钮在上面的问题 将按钮固定在下面 上拉菜单 */
	display: flex;
	flex-direction: column-reverse;

	background: #dbdccb;
	box-shadow:  7px 7px 14px #6e6e66,
            	 -7px -7px 14px #ffffff;
	z-index: 101;
}
/* 定位按钮在左下角 */
.navbar input{
	width: 50px;
	height: 50px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	background: #dbdccb;
	/* 让框消失 */
	opacity: 0;
	    /* 加个 小手指   */
		cursor: pointer;
}
/* 2根线 */
.navbar span{
	position: absolute;
	left: 30px;
	bottom: 37px;
	width: 40px;
	height: 5px;
	border-radius: 15px;
	background-color: #999;
	/* 解决鼠标在线上点击时点不到按钮的问题 */
	pointer-events: none;
	transition: all 0.5s;
}
.navbar span:nth-child(4){
	bottom: 54px;
}
/* 没点的时候ul菜单隐藏 */
.navbar ul{
	height: 0px;
	width: 60px;
	overflow: hidden;
	transition: all 0.5s;
} 
/* 每个导航按钮的样式 */
.nav{
	height: 40px;
	font-size: 15px;
	font-weight: 700;
	border-radius: 10px;
	/* 居中 */
	line-height: 40px;
	text-align:center;
	/* background-color: #fff; 用来看看位置 */
	    /* 加个 小手指   */
		cursor: pointer;
}
/* hover凹下去 */
.nav:hover{
	background: linear-gradient(145deg, #c5c6b7, #eaebd9);
	box-shadow:  7px 7px 14px #d9dac9,
				-7px -7px 14px #dddecd;
}
/* 点了之后ul从height从0到280px */
.navbar input:checked ~ ul{
	height: 280px;
}
/* 这里之前横着的2跟线旋转交叉变成 ×  */
.navbar input:checked ~ span:nth-child(3){
	bottom: 46px;
	transform: rotate(-45deg);
	background-color: rgb(253, 182, 182);
}
.navbar input:checked ~ span:nth-child(4){
	bottom: 46px;
	transform: rotate(45deg);
	background-color: rgb(253, 182, 182);
}

/* ————————————————————————左下的导航栏nav——————end———————— */



/* ————————————————————————ym1———————————————start——————— */
/* 中间定位 */
.ym1-mid{
	position: absolute;
	height: 300px;
	width: 700px;
	/* 居中 */
	left: 50%;
	top: 50%;
	transform: translate3d(-50%,-50%,0);
	/* 拟态效果 */
	border-radius: 60px;
	/* 颜色选择 */
	/* background: #c8e6fa;
	box-shadow:  7px 7px 14px #8ca1af,
				-7px -7px 14px #ffffff; */
	/* background: #dccbcb;
	box-shadow:  7px 7px 14px #6e6666,
				-7px -7px 14px #ffffff; */
	background: #d1cbdc;
	box-shadow:  7px 7px 14px #69666e,
				-7px -7px 14px #ffffff;
	
	/* flex容器，子容器自动生成容器 */
	display:flex;
	flex-direction:column; /*开了会横过来，该步使竖直 */
	justify-content: center;
	align-items: center;
}
.ym1-mid:hover{
	/* background: linear-gradient(145deg, #b4cfe1, #d6f6ff); */
	background: linear-gradient(145deg, #bcb7c6, #e0d9eb);
}
.ym1-mid h1{
	font-size: 70px;
}
.ym1-mid p{
	font-size: 20px;
	margin: 8px;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	letter-spacing: 2px;
}
.ym1-p3{
	color: rgb(99, 15, 15);
}
.ym1-mid strong{
	font-size: 25px;
	font-weight: 800;
	margin: 8px;
	font-family: "微软雅黑";
}

/* ————————————————————————ym1————————————————end———————— */

/* ————————————————————————ym2———————————————start——————— */
/* 中间的大框定位 */
.ym2-intro{
	position: absolute;
	height: 470px;
	width: 900px;
	border-radius: 60px;
	/* 居中 偏右下一点点*/
	left: 50%;
	top: 50%;
	transform: translate3d(-45%,-45%,0);
	background: #e3dcb5;
	box-shadow:  7px 7px 14px #726e5b,
				-7px -7px 14px #ffffff;
}
/* 圆 头像 */
.ym2-w img{
	position: relative; /* 不用ab 会塌陷因为下面的tx没给定位 */
	margin-top: 10px;
	border-radius: 50%;
	left: 50%;
	transform: translate3d(-50%,0,0);
	box-shadow:  7px 7px 14px #6e6b57,
            	 -7px -7px 14px #ffffff;

}
/* 下面的介绍tx 用弹性布局 */
.ym2-tx{
	margin-top: 10px;
	display:flex;
	flex-direction: column;
	justify-content: center;
}
.ym2-tx h2{
	border-radius: 5px;
	margin-top: 10px;
	padding: 5px;
	margin-left: 10%;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: 700;
	font-family: "Comic Sans MS";
	background: #cbdcdb;
	box-shadow: inset 4px 4px 8px #a2b0af,
				inset -4px -4px 8px #f4ffff;
}
.ym2-tx p{
	margin-top: 8px;
	margin-left: 10%;
	letter-spacing: 2px;
	font-size: 17px;
	font-weight: 500;
	font-family: "Comic Sans MS";
}
/* 凹下去的2个 */
.ym2-h21{
	width: 220px;
}
.ym2-h22{
	width: 110px;
}
.ym2-intro-l1{
	position: absolute;
	margin-top: 25px;
	right: 5%;
	width: 20px;
	height: 400px;
	border-radius: 5px;
	background: #cbdcdb;
	box-shadow: inset 4px 4px 8px #a2b0af,
				inset -4px -4px 8px #f4ffff;
}
.ym2-intro-l2{
	position: absolute;
	margin-top: 125px;
	right: 10%;
	width: 20px;
	height: 300px;
	border-radius: 5px;
	background: #cbdcdb;
	box-shadow: inset 4px 4px 8px #a2b0af,
				inset -4px -4px 8px #f4ffff;
}

/* ————————————————————————ym2————————————————end———————— */

/* ————————————————————————ym3———————————————start——————— */
/* 整体定位到中偏一点点右 */
.ym3-w{
	width: 650px;
	height: 420px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-45%,-50%,0);
}
/* SKILLS块 */
.ym3-h1{
	width: 100px;
	height: 400px;
	border-radius: 30px;
	position: absolute;
	left: 0;
	top: 0;
	background: #bdc4e5;
	box-shadow:  10px 10px 20px #5f6273,
				 -10px -10px 20px #ffffff;
}
.ym3-h1:hover{
	background: linear-gradient(145deg, #aab0ce, #cad2f5);
}
.ym3-h1 h1{
	margin-top: 30px;
	font-size: 55px;
	font-family:"Comic Sans MS" ;
	/* 字体颜色可改进一下emmm */
	color: rgb(231, 114, 114);
	text-shadow: 3px 3px 6px #5c4141,
				-3px -3px 6px #e9caca;
}
/* 技能条块 */
.ym3-sk-w{
	width: 500px;
	height: 300px;
	border-radius: 40px;
	position: absolute;
	left: 150px;
	top: 0;
	background: #b7bed7;
	box-shadow:  10px 10px 20px #5c5f6c,
				-10px -10px 20px #ffffff;
}
.ym3-sk{
	font-size: 30px;
	font-family:"Comic Sans MS" ;
	font-weight: 600;
	margin-top: 33px;
	margin-left: 30px;
	color:#c8e6fa;
	text-shadow:  2px 2px 4px #64737d,
				 -2px -2px 4px #ffffff;
}
.ym3-sk-jntd,.ym3-sk-jnt{
	position: absolute;
	left: 300px;
	top: 0;
}
.ym3-sk-jnt{
	margin-top: -5px;
}
.ym3-sk-jntd ul{
	width: 300px;
}
.ym3-sk-jntd li{
	width: 300px;
	border-radius: 15px;
	margin-top: 33px;
	height: 30px;
	background: #c8e6fa;
	box-shadow: inset 3px 3px 6px #a0b8c8,
				inset -3px -3px 6px #f0ffff;
	/* background: #b7bed7;
	box-shadow: inset 3px 3px 6px #9298ac,
				inset -3px -3px 6px #dce4ff; */
}
/* 技能进度 */
.ym3-sk-jnt li{
	content: "";
	display: block;
	border-radius: 10px;
	margin-left: 7px;
	margin-top: 43px;
	height: 20px;
	/* 颜色 */
	/* background: #c8e6fa;
	box-shadow:  1px 1px 2px #a0b8c8,
				-1px -1px 2px #f0ffff; */
	
	/* background: #b7bed7;
	box-shadow:  2px 2px 4px #9298ac,
					-2px -2px 4px #dce4ff; */
	
	background: #d7adad;
	box-shadow:  2px 2px 4px #ac8a8a,
					-2px -2px 4px #ffd0d0;
}
.ym3-sk-jnt li:hover{
	/* background: linear-gradient(145deg, #c4cbe6, #a5abc2); */
	background: linear-gradient(145deg, #e6b9b9, #c29c9c);
}

/* 加载技能条动画 */
.ym3-sk-jnt-show>.html{
	animation-name: html;
}
.ym3-sk-jnt-show>.c{
	animation-name: c;
}
.ym3-sk-jnt-show>.css{
	animation-name: css;
}
.ym3-sk-jnt-show>.js{
	animation-name: js;
}
.ym3-sk-jnt-show li{
	animation-duration: 1.2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	animation-delay:1s;
}
@keyframes html {
	from {
		width: 0;
	  }
	  to {
		width: 3600%;
	  }
}
@keyframes c {
	from {
		width: 0;
	  }
	  to {
		width: 3000%;
	  }
}
@keyframes css {
	from {
		width: 0;
	  }
	  to {
		width: 2300%;
	  }
}
@keyframes js {
	from {
		width: 0;
	  }
	  to {
		width: 1000%;
	  }
}

/* 下面的3个小块 都有hover凹下去*/
.ym3-sk-qt1{
	width: 133px;
	height: 70px;
	border-radius: 60px;
	position: absolute;
	margin-top: 330px;
	left: 150px;

	background: #dcd3cb;
	box-shadow:  10px 10px 20px #6e6a66,
				-10px -10px 20px #ffffff;
	
	/* 字体与居中 */
	font-family: 'Comic Sans MS';
	font-size: 20px;
	line-height: 70px;
	text-align:center;

}
.ym3-sk-qt1:hover{
	background: linear-gradient(145deg, #c6beb7, #ebe2d9);
}
.ym3-sk-qt2{
	width: 120px;
	height: 70px;
	border-radius: 60px;
	position: absolute;
	margin-top: 330px;
	left: 347px;

	background: #dccbd4;
	box-shadow:  10px 10px 20px #6e666a,
				 -10px -10px 20px #ffffff;
	/* 字体与居中 */
	font-family: 'Comic Sans MS';
	font-size: 20px;
	line-height: 70px;
	text-align:center;

}
.ym3-sk-qt2:hover{
	background: linear-gradient(145deg, #c6b7bf, #ebd9e3);
}
.ym3-sk-qt3{
	width: 120px;
	height: 70px;
	border-radius: 60px;
	position: absolute;
	margin-top: 330px;
	left: 530px;

	background: #d5dccb;
	box-shadow:  10px 10px 20px #6b6e66,
				 -10px -10px 20px #ffffff;

	/* 字体与居中 */
	font-family: 'Comic Sans MS';
	font-size: 20px;
	line-height: 70px;
	text-align:center;

}
.ym3-sk-qt3:hover{
	background: linear-gradient(145deg, #c0c6b7, #e4ebd9);
}


/* ————————————————————————ym3————————————————end———————— */

/* ————————————————————————ym4———————————————start——————— */
/* 定位大盒子 */
.ym4-w{
	width: 800px;
    min-height: 430px;
    padding-bottom: 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -210px 0 0 -330px;

	/* background-color: rgb(255, 250, 225,0.4); */

	/* background: #b0e0e6; */
	/* box-shadow:  10px 10px 20px #465a5c,
				-10px -10px 20px #ffffff; */
}

/* 定位整个时间轴 包含圆q和下面的线x */
.ym4-sjz{
	position: absolute;
	top: 0;
	left: 100px;
	width: 100px;
}
/* 球的样式 */
.ym4-sjz-q{
	position: absolute;
	top: 0;
	height: 100px;
	width: 100px;
	border-radius: 50px;
	
	background: #b0e0e6;
	box-shadow:  9px 9px 18px #222e33,
				-9px -9px 18px #f5f5f5;
}
/* 里面的2排字 */
.ym4-sjz-q h1{
	font-size: 30px;
	font-family: 'Comic Sans MS';
	margin-top: 30px;
	margin-left: 14px;
	color: rgb(63, 6, 6);
}
.ym4-sjz-q p{
	font-size: 15px;
	font-family: 'Comic Sans MS';
	margin-top: 5px;
	margin-left: 30px;
	color: rgb(110, 46, 46);
}
/* 下面的线x */
.ym4-sjz-x{
	/* content: ""; */
	position: absolute;
	left: 45px;
	top: 100px;
	height: 300px;
	width: 10px;
	border-radius: 5px;

	background: #b0e0e6;
	box-shadow: inset 1px 1px 2px #465a5c,
				inset -1px -1px 2px #ffffff;
}
/* 时间轴上的点 */
.ym4-sjz-point{
	position: absolute;
	left: 40px;
	top: 160px;
	height: 20px;
	width: 20px;
	border-radius: 10px;

	background: linear-gradient(145deg, #bcf0f6, #9ecacf);
	box-shadow:  2px 2px 4px #465a5c,
				 -2px -2px 4px #ffffff;
}
/* 左边文字我的经历 */
.ym4-wdjl{
	position: absolute;
	top: 40px;
	font-size: 20px;
	font-weight: 600;
	color: #a1d2ff;
	text-shadow:  2px 2px 4px #000000,
				 -2px -2px 4px #dbffff;
}
/* 左边文字 年月 */
.ym4-ny{
	position: absolute;
	top: 159px;
	left: 30px;
	font-size:15px;
	font-weight: 900;
	letter-spacing: 2px;
	word-spacing: 4px;
	color: #a1d2ff;
	text-shadow:  2px 2px 4px #000000,
				 -2px -2px 4px #dbffff;
}
.ym4-ny span{
	font-size:20px;
}
/* 右边的文字 大框定位 */
.ym4-text-w{
	position: absolute;
	top: 50px;
	left: 250px;
	width: 550px;
	height: 350px;
	color: #5f4846;
	font-family: 'Comic Sans MS';
	/* background: #b0e0e6;看位置 */
}
.ym4-text-w h1{
	font-size: 24px;
	font-weight: 600;
}
.ym4-text-w h2{
	font-size: 16px;
	margin-top: 15px;
	color: rgb(150, 85, 0);
}
.ym4-text-w p{
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 600;
	color: rgb(124, 68, 4);

}
.ym4-text-w span{
	font-size: 24px;
	letter-spacing: 1px;
	font-weight: 600;
	margin-left: 10px;
	padding: 20px;
	height: 30px;
	width: 210px;
	/* border-radius: 50%; */
	color: #6c91c0;
	background: #fecdc9;
	box-shadow:  2px 2px 4px #665250,
				-2px -2px 4px #ffffff;
	/* background: #b0e0e6;
	box-shadow: inset 1px 1px 2px #465a5c,
				inset -1px -1px 2px #ffffff; */
}
.ym4-text-w span:hover{
	box-shadow: inset 2px 2px 4px #665250,
				inset -2px -2px 4px #ffffff;
}
.ym4-text-tbc{
	position: absolute;
	top: 230px;
	width: 400px;
	white-space:nowrap; 
}




/* ————————————————————————ym4————————————————end———————— */

/* ————————————————————————ym5———————————————start——————— */
/* ————————————————————————ym5————————————————end———————— */

/* ————————————————————————ym6———————————————start——————— */
/* ————————————————————————ym6————————————————end———————— */

/* ————————————————————————ym7———————————————start——————— */
/* ————————————————————————ym7————————————————end———————— */